.rating
  display: flex
  gap: 5px
  justify-content: flex-end

  @media (max-width: 768px)
    gap: 3px

    svg
      width: 20px
      height: 20px

.filled
  color: var(--color-primary)

.empty
  color: #E3E3E3
