.page
  max-width: 1440px
  margin: 0 auto
  padding: 43px 100px 75px
  display: flex
  flex-direction: column
  gap: 43px

  @media (max-width: 1024px)
    padding: 43px 50px 75px

  @media (max-width: 768px)
    padding: 16px 20px 40px
    gap: 20px

.grid
  background-color: var(--color-grey)
  border-radius: var(--border-radius)
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px
  padding: 50px

  @media (max-width: 1024px)
    grid-template-columns: repeat(2, 1fr)
    padding: 30px

  @media (max-width: 768px)
    grid-template-columns: 1fr
    padding: 16px
    gap: 10px
