.footer
  background-color: var(--color-dark)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 28px
  padding: 62px 0

  @media (max-width: 768px)
    padding: 40px 0
    gap: 20px

.logo
  display: block
  width: auto
  height: 60px

  @media (max-width: 768px)
    height: 48px

.text
  color: var(--color-white)
  font-size: 24px
  font-weight: 500

  @media (max-width: 768px)
    font-size: 12px
